/* ==UserStyle==
@name           Seed Checker Edits
@namespace     guhh
@version        1.1.0
@description    make lean's website a little more bearable, may update this later
@updateURL      https://raw.githubusercontent.com/ItzOnlyAnimal/theme-stuff/main/leanny_edits.user.css
@author         Me
==/UserStyle== */
@-moz-document domain("leanny.github.io") {
    [class^="Profile_BynameList__"] {
        justify-content: center;
    }

    /* Title cards not inside of catalog*/
    [class^="Byname_ByamlFullEntry__"]:not([class^="Profile_CatalogueElem__"] [class^="Byname_ByamlFullEntry__"]) {
        display: flex;
        width: 24em;
        justify-content: space-evenly;
        background-color: #11021f;
        margin: 0.8em;
        column-gap: 2px;
    }

    [class^=".Input_Checkbox__"] {
        width: 32px;
        height: 32px;
    }

    [class^="Input_Input__"] {
        text-align: center;
    }




    /* owned checkboxes not inside of banners */
    [class^="Input_Wrapper__"]:not([class^="NamePlateBg_NameplateFullEntry__"] [class^="Input_Wrapper__"]) {
        display: flex;
        font-size: .875rem;
        line-height: 1.5;
        width: 60%;
        margin-bottom: 1rem!important;
        order: 1;
        padding: 0.5em;
    }

    /* title text boxes */
    [class^="Byname_BynameEntry__"] {
        text-align: center;
        justify-content: center;
        transform: translateY(8px);
    }

    [class^="Input_Title__"] {
        justify-content: center;
        width: 30% !important;
    }
}
