/* I only update this one periodically, its just here for reference */ 

@import url("https://snare-hawk.github.io/snare-CSS/profile-panel-thingy.css"); 
@import url("https://martinz64.github.io/remove-nitro/better_sessions.css");
@import url("https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css");
@import url("https://minidiscordthemes.github.io/Snippets/HideAKA/HideAKA-badge.css");
@import url("https://raw.githubusercontent.com/ItzOnlyAnimal/theme-stuff/main/vencord_sc_icons.css");
@import url(https://seele1306.github.io/OnekoDM.css);

/* svg > div > foreignObject {
  display: none;
} */

/* hide dziurwa teaching ppl how to use unreleased feature (discord moment) */
[class^=listItem-]:has([class^=lowerBadge]):not(:has(img)) {
    display: none;
}

/* fix for oneko making everything border radius */
[class*=listItem-]>div>div>svg {
    border-radius: unset !important;
}

div[class*="text-xs-normal-"][class*="subtext-"] p span[style*="font-family: var(--font-code)"] {
  font-family: var(--font-primary) !important;
}

[class*=accountProfilePopoutWrapper-] > div > div > [class*=profileBadges-],
[class*=accountProfilePopoutWrapper-] > div > div > [class*=userPopoutOverlayBackground-] > [class*=divider-],
[class*=accountProfilePopoutWrapper-] > div > div > [class*=userPopoutOverlayBackground-] > [class*=section-],
[class*=accountProfilePopoutWrapper-] > div > div > [class*=userPopoutOverlayBackground-] > [class*=scroller-]
{
  display: none;
}

/* Show full about me i think */
[class*="lineClamp2Plus-"] { 
  -webkit-line-clamp: unset!important;
}

[class*="rowGuildName-"] [class^="flowerStarContainer-"] {
  display: none;
}

.usernameInnerRow-1-STdK::after {
  content: "#0001";
  color: var(--status-offline);
}

:has(.container-mAkQVR):is(.container-3g15px,.usernameSection-3FppkT) :is(.userTagNoNickname-h9Bh88,.nickname-3P1RuO,.nameTag-H6kSJ0):first-child {
  background: transparent;
}

/* Spotimbed */

.vc-spotimbed-embed {
  border-radius: 1em;
}

.vc-spotimbed-art {
  border-radius: 12px;
  max-width: 80%;
  max-height: 80%;
}

.vc-spotimbed-controls {
  background-color: #0000002c;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}



/* Hide "AKA" nicknames cause user popout bloat */
/* [class*=container-]:has([class*=akaBadge-]) {
    display: none;
} breaks dms lol */

/* Hover timestamp */
/* [class*=timestampInline-] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[class^=message-]:hover [class*=timestampInline-] {
  opacity: 1;
} */


/* make pip bigger */
/* :root [class^="pipModeShort-"]{
    width: 420px;
    height: 236px;
} */


/* .emoji[alt="🧌"] {
  content: url("https://cdn.discordapp.com/emojis/1024751352028602449.png");
} */

.emoji[alt="🥹"] {
  content: url("https://vendicated.github.io/random-files/face_holding_back_tears.svg");
}

.emoji[alt="🥺"] {
  content: url("https://vendicated.github.io/random-files/pleading_face.svg");
}

[class^="channel-"] > div > [href="/store"], /* Nitro Button above DM List */
[class^="channelTextArea"] [class^="buttons-"] > button, /* Hide Gift Button */
[class^="upsellVisible-"], /* Hide Banner Nitro Upsell Header */
[class^="premiumIconWrapper"], /* Hide Nitro Icon on Banners */
[class^="characterCount-"] [class*="upsell-"], /* "Send longer Messages with Discord Nitro!" */
[class^="emojiSection-"] [class*="shinyButton-"] /* "Get Nitro" button in Emoji/Sticker modal" */
{
    display: none !important;
}

[class^="menu-"], [class^="popout-"] { /* right click menu transparency */
    opacity: 95%;
}
/* Hide blocked messages */
/* [class*="blockedSystemMessage-"]>div {
  display: none;
} */

/* Hide muted DMs and GCs */
[class*="channel-"]>div[class*="muted-"] {
  display: none;
} 

/* Hide "start a thread" bullshit */
[class^="threadSuggestionBar"] {
  display: none;
}

.imageAccessory-2yA7Kb {
    left: initial;
    right: 6px;
}

/* remove ugly border on roles */
[class*="rolePill-"] {
  background-color: var(--profile-role-pill-background-color);
  border: 0px solid;
  border-color: var(--profile-role-pill-border-color);
}

/* icons on Listening status */

.activityUserPopoutV2-3eKqzY:has([class^=timeBarUserPopoutV2-]) .contentImagesUserPopoutV2-2Mcg9w {
  margin-left: 22px;
}

.activityUserPopoutV2-3eKqzY:has([class^=timeBarUserPopoutV2-]) .contentImagesUserPopoutV2-2Mcg9w > div:first-child::before,
.activityUserPopoutV2-3eKqzY:has([class^=timeBarUserPopoutV2-]) .contentImagesUserPopoutV2-2Mcg9w > div:nth-child(2)::before,
.activityUserPopoutV2-3eKqzY:has([class^=timeBarUserPopoutV2-]) .contentImagesUserPopoutV2-2Mcg9w > div:nth-child(3)::before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  padding: 7px;
  margin-left: -17px;
  margin-top: 2px;
  content: '';
  background-color: var(--header-primary);
  /* Spotify wave thingy fix */
  /*background-color: hsla(var(--spotify-vencord-text)/1);*/
  position: absolute;
}

.activityUserPopoutV2-3eKqzY:has([class^=timeBarUserPopoutV2-]) .contentImagesUserPopoutV2-2Mcg9w > div:first-child::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
}
.activityUserPopoutV2-3eKqzY:has([class^=timeBarUserPopoutV2-]) .contentImagesUserPopoutV2-2Mcg9w > div:nth-child(2)::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
}
.activityUserPopoutV2-3eKqzY:has([class^=timeBarUserPopoutV2-]) .contentImagesUserPopoutV2-2Mcg9w > div:nth-child(3)::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
}
