/* I wont be keeping this version up to date with my local one, this is just here for reference */ 

@import url("https://snare-hawk.github.io/snare-CSS/profile-panel-thingy.css"); 
@import url("https://martinz64.github.io/remove-nitro/better_sessions.css");
@import url("https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css");
@import url("https://minidiscordthemes.github.io/Snippets/HideAKA/HideAKA-badge.css");

/* @import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-pink.theme.css");*/

/* Show full about me i think */
[class*="lineClamp2Plus-"] { 
  -webkit-line-clamp: 10000000!important;
}

:is([class*=userTagWithNickname], [class*=nameTagSmall]) span:only-child:before {
    content: '^';
}

:has(.container-mAkQVR):is(.container-3g15px,.usernameSection-3FppkT) :is(.userTagNoNickname-h9Bh88,.nickname-3P1RuO,.nameTag-H6kSJ0):first-child {
  background: transparent;
}


/* Hide "AKA" nicknames cause user popout bloat */
/* [class*=container-]:has([class*=akaBadge-]) {
    display: none;
} breaks dms lol */

/* Hover timestamp */
/* [class*=timestampInline-] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[class^=message-]:hover [class*=timestampInline-] {
  opacity: 1;
} */

a[href='/family-center'] {
  display: none;
}

/* make pip bigger */
/* :root [class^="pipModeShort-"]{
    width: 420px;
    height: 236px;
} */


/* .emoji[alt="🧌"] {
  content: url("https://cdn.discordapp.com/emojis/1024751352028602449.png");
} */

.emoji[alt="🥹"] {
  content: url("https://vendicated.github.io/random-files/face_holding_back_tears.svg");
}

.emoji[alt="🥺"] {
  content: url("https://vendicated.github.io/random-files/pleading_face.svg");
}

[class^="channel-"] > div > [href="/store"], /* Nitro Button above DM List */
[class^="channelTextArea"] [class^="buttons-"] > button, /* Hide Gift Button */
[class^="upsellVisible-"], /* Hide Banner Nitro Upsell Header */
[class^="premiumIconWrapper"], /* Hide Nitro Icon on Banners */
[class^="characterCount-"] [class*="upsell-"], /* "Send longer Messages with Discord Nitro!" */
[class^="emojiSection-"] [class*="shinyButton-"] /* "Get Nitro" button in Emoji/Sticker modal" */
{
    display: none !important;
}

[class^="menu-"], [class^="popout-"] { /* right click menu transparency */
    opacity: 95%;
}
/* Hide blocked messages */
/* [class*="blockedSystemMessage-"]>div {
  display: none;
} */

/* Hide muted DMs and GCs */
[class*="channel-"]>div[class*="muted-"] {
  display: none;
} 

/* Hide "start a thread" bullshit */
[class^="threadSuggestionBar"] {
  display: none;
}

.imageAccessory-2yA7Kb {
    left: initial;
    right: 6px;
}

/* remove ugly border on roles */
[class*="rolePill-"] {
  background-color: var(--profile-role-pill-background-color);
  border: 0px solid;
  border-color: var(--profile-role-pill-border-color);
}
