
/* styling vrcx sucks ASS nearly every classname is fucking recycled */
.el-table {
	border-radius: 5px;
}


/* Hide username in places */
span.el-popover__reference {
	display: none;
}

span+.x-friend-list .x-friend-item div.avatar+div.detail span.name+span.extra {
	display: none;
}
  

.el-tabs__nav.is-top.is-stretch[role='tablist'] {
	border: none;
	border-radius: 6px;
}

.is-active[role='tab'] {
	background-color: #1f192280;
}

.el-tabs--card>.el-tabs__header .el-tabs__item {
	border-left: none;
}

.el-tabs--card>.el-tabs__header .el-tabs__item {
	transition: border-bottom-color 0.3s ease-in-out;
	border-bottom: 2px solid transparent;
}

.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
	transition: width 0.3s;
}

/* do the funny fade or something i dont remember */
/* Hide .el-tabs__item elements by default, except for the active one */
#aside .el-tabs__item:not(.is-active) {
	display: none;
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.3s, transform 0.3s;
}

/* Show the .el-tabs__item elements when the parent of the active one is hovered */
#aside .el-tabs__nav:hover .el-tabs__item {
	display: block;
	opacity: 1;
	transform: translateY(0);
}


/* tweaks to dark vanilla */
:root {
	--theme-text-muted: #41344d;
	--theme-text-muted-og: #906D92;
	--bg-color: var(--bg-color);
}

.el-tabs__item:hover {
	color: var(--theme-text-muted-og) !important;
}

.noty_theme__mint.noty_type__error {
	background-color: var(--bg-color) !important;
}

.noty_theme__mint.noty_type__success {
	background: var(--bg-color);
}

/* end tweaks */
